#------------------------------------------------------------------------------
# IO Pad Location Constraints / Properties for Character LCD GPIO
#------------------------------------------------------------------------------

NET lcd_ip_0_lcd_pin<0> LOC = M18 | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW; # LCD_E
NET lcd_ip_0_lcd_pin<1> LOC = L18 | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW; # LCD_RS
NET lcd_ip_0_lcd_pin<2> LOC = L17 | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW; # LCD_RW
NET lcd_ip_0_lcd_pin<3> LOC = M15 | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW; # LCD_DB7
NET lcd_ip_0_lcd_pin<4> LOC = P17 | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW; # LCD_DB6
NET lcd_ip_0_lcd_pin<5> LOC = R16 | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW; # LCD_DB5
NET lcd_ip_0_lcd_pin<6> LOC = R15 | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW; # LCD_DB4
