//! **************************************************************************
// Written by: Map P.20131013 on Mon Jul 08 12:28:57 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "T9" LEVEL 1;
COMP "RX_DATA<0>" LOCATE = SITE "K12" LEVEL 1;
COMP "RX_NEWDATA" LOCATE = SITE "C5" LEVEL 1;
COMP "RX_DATA<1>" LOCATE = SITE "P14" LEVEL 1;
COMP "RX_DATA<2>" LOCATE = SITE "L12" LEVEL 1;
COMP "RX_DATA<3>" LOCATE = SITE "N14" LEVEL 1;
COMP "RX_DATA<4>" LOCATE = SITE "P13" LEVEL 1;
COMP "RX_DATA<5>" LOCATE = SITE "N12" LEVEL 1;
COMP "RX_DATA<6>" LOCATE = SITE "P12" LEVEL 1;
COMP "TX_DATA<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "RX_DATA<7>" LOCATE = SITE "P11" LEVEL 1;
COMP "TX_DATA<1>" LOCATE = SITE "G12" LEVEL 1;
COMP "BTN_IN" LOCATE = SITE "M13" LEVEL 1;
COMP "TX_DATA<2>" LOCATE = SITE "H14" LEVEL 1;
COMP "TX_DATA<3>" LOCATE = SITE "H13" LEVEL 1;
COMP "TX_DATA<4>" LOCATE = SITE "J14" LEVEL 1;
COMP "TX_DATA<5>" LOCATE = SITE "J13" LEVEL 1;
COMP "TX_DATA<6>" LOCATE = SITE "K14" LEVEL 1;
COMP "TX_DATA<7>" LOCATE = SITE "K13" LEVEL 1;
COMP "TX_OUT" LOCATE = SITE "R13" LEVEL 1;
COMP "reset" LOCATE = SITE "L14" LEVEL 1;
COMP "RX_IN" LOCATE = SITE "T13" LEVEL 1;
COMP "TX_READY" LOCATE = SITE "D5" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

